@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


body{
    font-family: 'Josefin Sans', sans-serif;
}

input{
    font-family: 'Josefin Sans', sans-serif;
    background-color: transparent;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    color: rgb(136, 135, 135);
    border-bottom: 1px solid rgb(51, 51, 51);

}

::placeholder{
    color: rgb(136, 135, 135);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form{
    background-image: url(/1951962.png);
    background-size: 100%;
    height: 625px;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 14px;
}

.background{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.4));
    height: 600px;
    width: 110;
 }

.header{
    color: white;
    padding-top: 2%;
    padding-bottom: 5%;
}

.header h1{
    padding-bottom: 10px;
}

.content{
    padding-left: 5%;
}

.name{
    display: flex;
    gap: 20%;
    /* padding-left: 35px; */
}

.password{
    display: flex;
    gap: 20%;
    /* padding-left: 39px; */
}

.ep{
    display: flex;
    gap: 20%;
    /* padding-left: 34px; */
}

.da{
    display: flex;
    gap: 20%;
    /* padding-left: 32px; */
}

.male-female{
    display: flex;
    gap: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6px;
}

.Address{
    display: flex;
    gap: 20%;
    /* padding-left: 34px; */
}

.cn{
    display: flex;
    gap: 20%;
    /* padding-left: 42px; */
}

.icon-n1 i{
    color: rgb(228, 222, 222);
    padding-top: 11px;
    /* padding-right: 10px; */
    font-weight: lighter;
}

.icon-n2 i{
    color: rgb(228, 222, 222);
    padding-top: 11px;
    /* padding-right: 7px; */
    font-weight: lighter;
    /* transform: translateX(-2px); */
}

.icon-n3 i{
    color: rgb(228, 222, 222);
    padding-top: 11px;
    /* padding-right: 10px; */
    font-weight: lighter;
    padding-left: 3px;
}

.icon-n4 i{
    color: rgb(228, 222, 222);
    padding-top: 11px;
    /* padding-right: 10px; */
    font-weight: lighter;
    padding-left: 3px;
}

.icon-n5 i{
    color: rgb(228, 222, 222);
    padding-top: 11px;
    /* padding-right: 10px; */
    font-weight: lighter;
    padding-left: 1px;
}

.icon-n6 i{
    color: rgb(228, 222, 222);
    padding-top: 11px;
    /* padding-right: 10px; */
    font-weight: lighter;
    padding-left: 4px;
}

.icon-n7{
    color: rgb(228, 222, 222);
    padding-top: 15px;
    /* padding-right: 7px; */
    font-size: x-small;
    font-weight: 800;
}

.icon-n8 i{
    color: rgb(228, 222, 222);
    padding-top: 11px;
    /* padding-right: 10px; */
    font-weight: lighter;
    padding-left: 27px;
}

.icon-n9 i{
    color: rgb(228, 222, 222);
    padding-top: 11px;
    /* padding-right: 10px; */
    font-weight: lighter;
    padding-left: 2px;
}

.icon-n10 {
    color: rgb(228, 222, 222);
    padding-top: 15px;
    /* padding-right: 7px; */
    font-size: x-small;
    font-weight: 800;
    padding-left: 3px;
}

.icon-n11 i{
    color: rgb(228, 222, 222);
    padding-top: 11px;
    /* padding-right: 10px; */
    font-weight: lighter;
    padding-left: 7px;
}

.icon-n12 i{
    color: rgb(228, 222, 222);
    padding-top: 11px;
    /* padding-right: 10px; */
    font-weight: lighter;
    padding-left: 4px;
}

.n1{
    margin-left: 15px;
}

.n2{
    margin-left: 15px;
}

.p1{
    margin-left: 18px;
}

.p2{
    margin-left: 18px;
}

.e1{
    margin-left: 14px;
}

.ph1{
    margin-left: 17px;
}

.date2{
    margin-left: 10px;
}

.a1{
    margin-left: 15px;
}

.add1{
    margin-left: 12px;
}

.pin1{
    margin-left: 13px;
}

.c1{
    margin-left: 17px;
}

.country1{
    margin-left: 15px;
}




.name .name1 input{
    font-size:large;
    height: 40px;
    width: 150%;
    padding-left: 3%

}

.name .name1{
    /* padding-left: 4%; */
    padding-bottom: 2%;
    display: flex;
}





.name .name2 input{
    font-size:large;
    height: 40px;
    width: 150%;
    padding-left: 3%

}

.name .name2{
    /* padding-left: 2%; */
    padding-bottom: 2%;
    display: flex;
}

.password .pass1 input{
    font-size:large;
    height: 40px;
    width: 150%;
    padding-left: 4%

}

.password .pass1{
    /* padding-left: 32px; */
    padding-bottom: 2%;
    display: flex;

}


.password .pass2 input{
    font-size:large;
    height: 40px;
    width: 150%;
    padding-left: 5%
    
}

.password .pass2{
    /* padding-left: 19px; */
    padding-bottom: 2%;
    display: flex;

}



.ep .email input{
    font-size:large;
    height: 40px;
    width: 150%;
    padding-left: 5%
}

.ep .email{
    /* padding-left: 4%; */
    padding-bottom: 2%;
    display: flex;
}

.ep .phno input{
    font-size:large;
    height: 40px;
    width: 150%;
    padding-left: 5%
}

.ep .phno{
    /* padding-left: 16px; */
    padding-bottom: 2%;
    display: flex;
}

.da .DOB input{
    font-size:large;
    height: 40px;
    width: 172%;
    padding-left: 5%
}

.da .DOB{
    /* padding-left: 23px; */
    padding-bottom: 2%;
    display: flex;
}



.da .age input{
    font-size:large;
    height: 40px;
    width: 150%;
    padding-left: 5%
}

.da .age{
    /* padding-left: 38px; */
    padding-bottom: 2%;
    display: flex;
}


.Address .add input{
    font-size:large;
    height: 40px;
    width: 150%;
    padding-left: 5%
}

.Address .add{
    /* padding-left: 25px; */
    padding-bottom: 2%;
    display: flex;
}

.Address .pin input{
    font-size:large;
    height: 40px;
    width: 150%;
    padding-left: 5%
}

.Address .pin{
    /* padding-left: 12px; */
    padding-bottom: 2%;
    display: flex;
    
}



.cn .city input{
    font-size:large;
    height: 40px;
    width: 150%;
    padding-left: 5%
}

.cn .city{
    /* padding-left: 33px; */
    padding-bottom: 2%;
    display: flex;
}

.cn .country input{
    font-size:large;
    height: 40px;
    width: 150%;
    padding-left: 5%
}

.cn .country{
    /* padding-left: 17px; */
    padding-bottom: 2%;
    display: flex;
}

.male-female .m1{
    display: flex;
    gap: 15px;
   
}

.male-female .f1{
    display: flex;
    gap: 15px;
    
}

.male-female .m1 .m{
    color: rgb(136, 135, 135);
    font-size: large;
}

.male-female .f1 .f{
    color: rgb(136, 135, 135);
    font-size: large;
}

.male-female .m1 .m i{
    color: rgb(228, 222, 222);
}

.male-female .f1 .f i{
    color: rgb(228, 222, 222);
}



.submit input{
    font-size:x-large;
    border: 1px solid white;
    height: 50px;
    width: 20%;
    padding-top: 2px ;
    border-radius: 8px;
    color: white;
    transition: background-color 0.8s, color 0.8s;
    transition-timing-function: ease;
}

@keyframes heartbeat{
    0%, 50%, 100%{
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(1.05);
    }
}



.submit input:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: bolder;
    animation-name: heartbeat;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

.submit{
    padding-top: 1%;
    padding-bottom: 3%;
}

.log{
    color: white;
    padding-top: 20px;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    height: 50px;
    width: 100%;
    font-size: larger
}

.log a{
    text-decoration: none;
    color: rgb(59, 124, 221);
    font-weight: 800;
}




/* Responsive */











@media(max-width:1300px){
    .background{
        text-align: center;
        background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.4));
        height: 600px;
        width: 103%;
     }


     .form{
        background-image: url(/1951962.png);
        background-size: 100%;
        height: 625px;
        text-align: center;
        padding-left: 20%;
        padding-right: 25%;
        padding-top: 14px;
    }

    .content{
        padding-left: 7%;
    }
}

@media(max-width:1250px){
    .content{
        padding-left: 5%;
    }
}

@media(max-width:1200px){
    .content{
        padding-left: 3%;
    }
}

@media(max-width:1100px){
    .background{
        width: 120%;
    }

    .form{
        background-size: 106%;
    }
}

@media(max-width:1150px){
    .background{
        width: 120%;
    }

    .form{
        background-size: 111%;
    }
}

@media(max-width:1000px){

    .content{
        padding-left: 28%;
    }


    .form{
        background-image: url(/responsive\ bg.png);
        background-size: 104%;
        height: 920px;
    }

    .background{
        height: 900px;
        background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.7));
    }

    .name{
        display: flex;
       flex-direction: column;
        gap: 20%;
       
    }
    
    .password{
        display: flex;
       flex-direction: column;
        gap: 20%;
       
    }
    
    .ep{
        display: flex;
       flex-direction: column;
        gap: 20%;
       
    }
    
    .da{
        display: flex;
       flex-direction: column;
        gap: 20%;
       
    }

    .Address{
        display: flex;
       flex-direction: column;
        gap: 20%;
       
    }
    
    .cn{
        display: flex;
       flex-direction: column;
        gap: 20%;
       
    }

    .da .age{
        transform: translateX(-20px);
        padding-bottom: 2%;
        display: flex;
    }

    .submit{
        padding-top: 5%;
        padding-bottom: 3%;
    }

}

@media(max-width:950px){
    .form{
        background-image: url(/responsive\ bg.png);
        background-size: 111%;
        height: 920px;
    }

}

@media(max-width:900px){

    .form{
        padding-left: 14%;
        background-size: 117%;
    }

    .content{
        padding-left: 27%;
    }

    .header{
        padding-bottom: 9%;
    }

}

@media(max-width:850px){
    .form{
        padding-left: 14%;
        background-size: 125%;
    }
}

@media(max-width:800px){
    .form{
        padding-left: 14%;
        background-size: 133%;
    }
    
    .content{
        padding-left: 25%;
    }

    .submit input{
        font-size:x-large;
        border: 1px solid white;
        height: 50px;
        width: 22%;
    }
}

@media(max-width:750px){
    .form{
        padding-left: 14%;
        background-size: 143%;
    }
    
    .content{
        padding-left: 23%;
    }

    .submit input{
        font-size:x-large;
        border: 1px solid white;
        height: 50px;
        width: 25%;
    }
}

@media(max-width:700px){
    .form{
        padding-left: 14%;
        background-size: 154%;
    }
    
    .content{
        padding-left: 20%;
    }

    
    .submit{
        padding-top: 8%;
        padding-bottom: 3%;
    }

    .submit input{
        font-size:x-large;
        border: 1px solid white;
        height: 50px;
        width: 28%;
    }

}

@media(max-width:650px){
    .form{
        padding-left: 14%;
        background-size: 166%;
    }
    
    .content{
        padding-left: 17%;
    }

    
    .submit{
        padding-top: 9%;
        padding-bottom: 3%;
    }

    .header{
        padding-top: 7%;
    }

    .submit input{
        font-size:x-large;
        border: 1px solid white;
        height: 50px;
        width: 30%;
    }
}

@media(max-width:600px){
    .form{
        padding-left: 14%;
        background-size: 182%;
    }
    
    .content{
        padding-left: 17%;
    }

    
    .submit{
        padding-top: 14%;
        padding-bottom: 5%;
    }

    .header{
        padding-top: 7%;
    }

    .submit input{
        font-size:x-large;
        border: 1px solid white;
        height: 50px;
        width: 30%;
    }
}

@media(max-width:550px){
    .form{
        padding-left: 14%;
        background-size: 200%;
    }
    
    .content{
        padding-left: 11%;
    }

    
    .submit{
        padding-top: 12%;
        padding-bottom: 7%;
    }

    .header{
        padding-top: 7%;
    }

    .submit input{
        font-size:x-large;
        border: 1px solid white;
        height: 50px;
        width: 30%;
    }
}

@media(max-width:500px){
    .form{
        padding-left: 14%;
        background-size: 214%;
        height: 880px;
    }

    .background{
        height: 850px;
    }
    
    .content{
        padding-left: 7%;
    }

    
    .submit{
        padding-top: 12%;
        padding-bottom: 7%;
    }

    .header{
        padding-top: 7%;
    }

    .submit input{
        font-size:x-large;
        border: 1px solid white;
        height: 50px;
        width: 40%;
    }
}

@media(max-width:450px){
    .form{
        padding-left: 14%;
        background-size: 214%;
        height: 800px;
    }

    .background{
        height: 780px;
    }
    
    .content{
        padding-left: 24%;
    }

    
    .submit{
        padding-top: 12%;
        padding-bottom: 7%;
    }

    .header{
        padding-top: 7%;
    }

    .submit input{
        font-size:large;
        border: 1px solid white;
        height: 40px;
        width: 35%;
    }

    .name .name1 input{
        font-size:small;
        height: 35px;
        width: 100%;
        padding-left: 3%
    
    }
     
    .name .name2 input{
        font-size:small;
        height:35px;
        width:100%;
        padding-left: 3%
    
    }
    
    .password .pass1 input{
        font-size:small;
        height:35px;
        width:100%;
        padding-left: 4%
    
    }
    
    .password .pass2 input{
        font-size:small;
        height:35px;
        width:100%;
        padding-left: 5%
        
    }

    .ep .email input{
        font-size:small;
        height:35px;
        width:100%;
        padding-left: 5%
    }
    

    .ep .phno input{
        font-size:small;
        height:35px;
        width:100%;
        padding-left: 5%
    }
    

    .da .DOB input{
        font-size:small;
        height: 40px;
        width: 115%;
        padding-left: 5%
    }
     
    .da .age input{
        font-size:small;
        height:35px;
        width:100%;
        padding-left: 5%
    }
       
    .Address .add input{
        font-size:small;
        height:35px;
        width:100%;
        padding-left: 5%
    }
    
    .Address .pin input{
        font-size:small;
        height:35px;
        width:100%;
        padding-left: 5%
    }
  
    .cn .city input{
        font-size:small;
        height:35px;
        width:100%;
        padding-left: 5%
    }
    
    .cn .country input{
        font-size:small;
        height:35px;
        width:100%;
        padding-left: 5%
    }
    
    .cn .country{
        /* padding-left: 17px; */
        padding-bottom: 2%;
        display: flex;
    }
    
    .male-female .m1{
        display: flex;
        gap: 15px;
       
    }
    
    .male-female .f1{
        display: flex;
        gap: 15px;
        
    }
    
    .male-female .m1 .m{
        color: rgb(136, 135, 135);
        font-size: small;
    }
    
    .male-female .f1 .f{
        color: rgb(136, 135, 135);
        font-size: small;
    }
    
    .male-female .m1 .m i{
        color: rgb(228, 222, 222);
    }
    
    .male-female .f1 .f i{
        color: rgb(228, 222, 222);
    }

    .log{
        font-size: small;
    }
    

}


